.bubble {
margin: 5px 0;
}

.bubble a {
    padding: 6px 20px;
    border-radius: 25px;
    font-size: 12px;
}

.blue-bubble{
    text-align: right;
}
.blue-bubble  a {    
    background-color: #0248FF;
    color: #fff!important;
}

.grey-bubble a{
    background-color: #eeeeee;
    color:#000!important
    
}
.content{
  overflow:auto;
  height: 70vh;

}

.bubble-size{
    display: inline-block;
    word-break: break-all;
    overflow-wrap: break-word;
    max-width: 300px;
}
p{
    text-align: left;
    line-height: 1.5;
    margin: 0
}
button{
    margin:8px 70px;
    background-color: #0D47A1;
}
#messagebox{
   width: 100%;
   left: 0;
   bottom: 0;
   position: absolute;

}

input{
    border-bottom: none!important
}

  .row .input-field input:focus {
    border-bottom: none!important;
    box-shadow: none
  }

@media only screen and (max-width: 480px) {

    button{
        margin: 0!important;
    }
}