.bubble {margin: 0.6rem 0;}

.bubble a {
    padding: 0.75rem;
    border-radius: 15px;
    color: #fff!important;
    
}

.red-bubble{
    text-align: right;
}
.red-bubble a{    
    background-color: red;
}

.blue-bubble a{
    background-color: blue;
    
}
.content{
  overflow:auto;
  max-height: 450px;

}

.bubble-size{
    display: inline-block;
    word-break: break-word;
    overflow-wrap: break-word;
    width: 300px;
}
p{
    line-height: 0
}