.bubble {
    margin: 0.6rem 0;
    padding:0px 15px;

}

.bubble a {
    padding: 0.75rem;
    border-radius: 15px;
    color: #fff!important;
    
}

.blue-bubble{
    text-align: right;
}
.blue-bubble  a {    
    background-color: #0D47A1;
}

.grey-bubble a{
    background-color: #eeeeee;
    color:#000!important
    
}
.content{
  overflow:auto;
  max-height: 450px;

}

.bubble-size{
    display: inline-block;
    word-break: break-all;
    overflow-wrap: break-word;
    max-width: 300px;
}
p{
    text-align: left;
    line-height: 1.5;
    margin: 0
}
button{
    margin:8px 70px;
    background-color: #0D47A1;
}
#messagebox{
   border: 1px solid #edeaea;
   margin:-25px;
   height: 70px;
}
input{
    border-bottom: none!important
}

  .row .input-field input:focus {
    border-bottom: none!important;
    box-shadow: none
  }

@media only screen and (max-width: 480px) {

    button{
        margin: 0!important;
    }
}