nav{
    background-color: #fff!important;
    box-shadow: none!important;
}
nav ul a {
    color: #3367d6;
    font-weight: bold
}
nav .brand-logo {
    color: #3367d6;
    font-weight: bold
}
div{
    margin: 0 5%;
}
#menu{
    color: #3367d6!important;
}