<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Chatty</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink] = "['/']">Home</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink] = "['/login']">Login</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink] = "['/register']">Register</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click) = "onLogoutClick()" href="#">Logout</a></li>
    </ul>
  </div>
</nav>
      