<div class="container">
    <div class="col s12 m6">
        <div>
            <h1> A platform to chat and simply connect
                with new and old friends</h1>
            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
                pain..."</p>
            <br>
            <p class="center-align">
                <a class="waves-effect waves-light btn button login-button" [routerLink]="['/login']">LOGIN</a>
                <a class="waves-effect waves-light btn button feature-button">SIGN UP</a>
            </p><br>
            <img src="../../../assets/img/group_chat.svg" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row center-align ">
        <h1>How it works?</h1>

        <hr>
        <br>
        <div class="col s4">
            <h4>Register</h4>
        </div>
        <div class="col s4" id="div1">
            <h4>Login</h4>
        </div>
        <div class="col s4" id="div1">
            <h4>Chat</h4>
        </div>

    </div>
</div>