<app-navbar></app-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>



<form method="post" action="/addname">
  <label>Enter Your Name</label>
  <input type="text" name="firstName" placeholder="Enter first name..." required/>
  <input type="text" name="lastName" placeholder="Enter last name..." required/>
  <input type="submit" value="Add Name">
</form>

<form method="post" action="/addname">
  <label>Enter Your Name</label>
  <input type="text" name="fullname" placeholder="Enter your Full Name.." required/>
  <input type="email" name="email" placeholder="Email..." required/>
  <input type="password" name="password" placeholder="Password..." required/>
  <input type="text" name="username" placeholder="User Name..." required/>
  <input type="submit" value="Add Name">
</form>


<form method="get" action="/usercheck">
  <label>Enter Your Name</label>
  <input type="text" name="username" placeholder="Email..." required/>
  <input type="password" name="password" placeholder="Password..." required/>
  <input type="submit" value="Add Name">
</form>