<div class="#90caf9 blue lighten-3 main-div">
  <div class="container center">

    <div class="row">
      <div class="col m6  hide-on-med-and-down  leftdiv">
        <img src='../../../assets/img/chatty.svg'/>
      </div>
      <div class="col m6 s12 logindiv">
        <div class="center-align">
          <header>Let's get chatty . . .</header><br>
        </div>
        <div>
          <form (submit)="onLoginSubmit()">

            <div class="row col s12">
              <label class="left">Username</label>
              <div class="input-field ">
                <input id="username" type="text" placeholder="e.g ilovechatty" [(ngModel)]="username" name="username"
                  class="validate form-control">

              </div>
            </div>
            <div class="row col s12">
              <label class="left">Password</label>
              <div class="input-field ">
                <input id="password" type="password" placeholder="e.g *****" name="password" class="validate form-control">

              </div>

            </div>
            <div class="col s12 ">
              <button class="btn waves-light center col s12" type="submit" name="action" value="Login">LOG IN</button>
            </div>
            <div class="col s12 ">
              <p class="#212121 grey-text darken-4 col s12">Don't have an account? <span class="0d47a1 blue-text darken-4"><a
                    [routerLink]="['/register']">Sign Up</a></span></p>
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>