.logindiv{
    background-color: white;
    height: 600px;
    padding:50px;
    box-shadow: 0 10px 16px 6px #eee
}

input{
    border-bottom: 1.5px solid #9e9e9e!important;
}
.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 1rem;
}
.input-field input[type=text]:focus, input[type].valid {
    box-shadow: 0 1px 0 0 #3367d6!important;
    color: #3367d6!important;
    border-bottom: .05px solid!important;
    margin-top: none!important
}
.input-field input:focus + label {
    color: #3367d6 !important;
  }

.row .input-field input:focus {
    border-bottom: 1px solid #3367d6!important;
    box-shadow: 0 1px 0 0 #3367d6!important;
  }

.btn{
    background-color:#3367d6 !important;
    font-weight: bold;
    border-radius: 20px;
}

span, header{
    font-weight: bold
}
header{
    color:#3367d6;
    font-size: 30px;
    margin: 15px
}
.rightdiv{
    background-color: #3367d6;
    background: url(../../../assets/img/abstract.jpg);
    box-shadow: 0 10px 16px 6px #eee;
    height:600px;
    color:#eee;
    overflow: hidden;
}


.welcome{
    padding: 50px;
    margin-bottom: -50px;
    font-size:75px;
    line-height: 1.2
}
