
<div class="row container">
    <br>
    <div class="col s6 sidediv center-align">
        <img src="../../../assets/img/chatapp.png" />
        <p>Simple, Seamless, chat application.</p>
    </div>
    <div class="col s6 loginForm ">
      <h4 class="Welcome">Welcome Back</h4>
      <br>
      <form  (submit)="onLoginSubmit()">
      <div class="row">
          
          <div class="input-field col s12 leftdiv">
          <label>Username</label> 
            <input id="username" type="text" placeholder="e.g ilovechatty" [(ngModel)]="username" name="username" class="validate form-control">
           
          </div>
        </div>
        <div class="row">
           
          <div class="input-field col s12">
            <label>Password</label>
            <input id="password" type="password" placeholder="e.g *****"  name="password" class="validate form-control">
            
          </div>
        </div>
      <div class="row center-align">
        <button class="btn waves-light red"type="submit" name="action" value="Login">LOG IN</button> 
      </div>
      </form>
    </div>
  </div>