<span id="userCount"></span>
<div *ngIf="user">
  <h2 class="page-header">{{user.fullname}}</h2>
  <li class="list-group-item">Username: {{user.username}}</li>
  <li class="list-group-item">Email: {{user.email}}</li>
</div>

<ul class="collection with-header">
    <li class="collection-header"><h4>First Names</h4></li>
    <li class="collection-item" *ngFor="let product of chatService.allUsers"><div>{{product.fullname}} <a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
</ul>
<input type="text" class="form-control"  id="user_email" placeholder="user_email"  />
<button text="join room"  class="btn btn-primary btn-block" id= "btn" onclick="btn"> Join Room</button>                
  
<div id="future"></div>
 <form id="form" id="chat_form">
            <input id="chat_input" type="text">
            <input id="userid" type="hidden" placeholder="userid" [value]="user?._id">
            <input id="username" type="hidden" placeholder="userid" [value]="user?.username">
            <button type="submit" value="Send">Send</button> 
    </form>
        
