
.container{
   
    padding:50px;
    min-height:50vh!important
}
.side{
  padding-left:0px;
  background-color:#f7f8f9
}
h4{
    color:#9e9e9e
}
i.icon-color {
    color: #3b3a3a;
}

.collection .collection-item {
 
    padding:30px;
    border:none;
    background-color: #f7f8f9
}
.collection{
    border: none;
    color:#000
}
.form-control{
    border: 1px solid #fff!important;
    margin:25px!important;
    width: 90%!important;
    background-color: #fff!important
}

.form-control + .icon-color {
    position: absolute;
    right: 0;
    margin-right: 250px;
    margin-top: -60px
  }
  input[type=text]{
      padding-left: 40px
  }