<div class="container ">
<div class="row z-depth-3 #ffffff white">
  <div class="col s4 hide-on-med-and-down side ">
      <ul class=" collection">
          <input type="text" placeholder="search"  [(ngModel)]="searchText" class="validate form-control">
          <i class="material-icons icon-color">search</i>
          <li class="collection-item " *ngFor="let user of (users | paginate: {itemsPerPage: 5, currentPage: p} | filter:  {fullname: searchText})">
           <div>{{user.fullname}}<a [routerLink]="['livechat', user.username]" class="secondary-content"><i class="material-icons icon-color">chevron_right</i></a></div></li>
           <pagination-controls (pageChange)= "p = $event"></pagination-controls>
        </ul>
  </div>
  <div class="col s12 m8">

      <router-outlet></router-outlet>

  </div>
</div>
</div>