/* You can add global styles to this file, and also import other style files */
body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    background: #f2f2f2;
}
 .ngx-pagination li li.current {background: #0D47A1!important; color:#eee!important}
 .pagination li a {color: white}
 .border-bottom {border-bottom: 1px solid #9e9e9e;}
 .border-none {border: none!important;}
 .mb-0 {margin-bottom: 0!important;}
 .pl-0 {padding-left:0!important}
 .ml-0 {margin-left: 0!important;}
 .new-badge {padding: 2px 6px; border-radius: 20px;}