/* You can add global styles to this file, and also import other style files */
body{
    height: 100%;
    font-family: 'Poppins', sans-serif;

    
   /* background: linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%);*/
}
/*
body .login{
    background-image: url(./assets/img/abstractblue.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    height: auto
}*/